{% block body %}
    <section class="box">
    <h2 class="title is-6">Liste des sites</h2>

    <table class="table is-hoverable">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Nom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td>{{ site.id }}</td>
                <td>{{ site.nom }}</td>
                <td>
                    <a class="button is-light is-small is-primary" href="{{ path('app_site_show', {'id': site.id}) }}">Détails</a>
                    <a class="button is-light is-small is-warning" href="{{ path('app_site_edit', {'id': site.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Il n'y a pas de sites.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button is-light is-success" href="{{ path('app_site_new') }}">Ajouter un nouveau site</a>
    </section>
{% endblock %}
