{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(participantForm) }}
    {{ form_widget(participantForm) }}
    {{ form_end(participantForm) }}
    <a href="{{ path('home_profile') }}">< Retour</a>
{% endblock %}

{% block title %}{{ parent() }} - Modifier mon profil{% endblock %}

