{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="title">Modifier le mot de passe</h1>
    {{ form_start(passwordForm) }}
    {{ form_widget(passwordForm) }}
    {{ form_end(passwordForm) }}
    <a href="{{ path('home_profile') }}">< Retour</a>
{% endblock %}

{% block title %}{{ parent() }} - Modifier le mot de passe{% endblock %}
