{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="title">Informations du profil</h1>
    <article class="media box has-background-info-light">
        <figure class="media-left box has-background-primary-light">
            <p class="image is-128x128">
                {% if app.user.urlPhoto %}
                    <img type=file src="{{ app.user.urlPhoto }}" alt="votre avatar">
                {% else %}
                    <img type=file  src="{{ asset('assets/media/user_files/defaultAvatar.png') }}" alt="default avatar image">
                {% endif %}
            </p>
            <small class="has-text-primary-dark">@{{ app.user.pseudo }}</small>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    Prénom : <strong>{{ app.user.prenom }}</strong> <br>
                    Nom : <strong>{{ app.user.nom }}</strong> <br>
                    <span class="has-text-primary has-text-weight-bold">Pseudo</span> : <strong>{{ app.user.pseudo }}</strong> <br>
                    --- <br>
                    Adresse email : <strong>{{ app.user.email }}</strong> <br>
                    Site de rattachement : <strong>{{ app.user.site.nom }}</strong> <br>
                    Numéro de téléphone :  <strong>
                    {% if app.user.telephone %}
                        {{ app.user.telephone }}
                    {% else %}
                        <em>non renseigné</em>
                    {% endif %} </strong> <br>
                    {% if is_granted("ROLE_ADMIN") %}
                        --- <br>
                        <span class="has-text-primary">Informations complémentaires : rôle d'administrateur.e</span>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="media-right">
            {% if is_granted("ROLE_ADMIN") %}
                <span class="has-text-danger-light has-background-danger-dark">Admin</span>
            {% endif %}
        </div>
    </article>
    <a href="{{ path('home_modify') }}" class="button">Modifier mon profil</a>
    <a href="{{ path('home_password') }}" class="button">Modifier mon mot de passe</a>
{% endblock %}

{% block title %}{{ parent() }} - Profil{% endblock %}

