{% extends 'base.html.twig' %}

{% block title %}Sortir avec l'ENI !{% endblock %}

{% block body %}
    <section class="hero">
        <div class="hero-body">
            <p class="title">
                Hello, quand est-ce qu'on sort ?
            </p>
            <a class="button box has-text-centered" href="{{ path('sortie_create') }}">Proposer une Sortie ! </a>
            <p class="subtitle">
                Sorties organisées par le Réseau :
            </p>
        </div>
    </section>
    <div class="container">
    {% set nombreSortie = sorties|length %}
       {% for index, sortie in sorties %}
           {% if loop.first %}
            <section class="columns">
           {% endif %}
           {% set placeDispos = sortie.nbInscriptionsMax - (sortie.participantsInscrits | length) %}
           {% if placeDispos <= 0 %}
           <div id="sortie-{{ index }}" class="column m-4 has-background-danger-light">
           {% else %}
           <div id="sortie-{{ index }}" class="column box m-4">
           {% endif %}
                <div class="card-image p-4">
                    <figure class="image is-4by3">
                        {% if sortie.urlPhoto and sortie.urlPhoto != "null" %}
                        <img src="{{ sortie.urlPhoto}}" alt="photo présentant la sortie">
                        {% else %}
                        <img src="https://picsum.photos/400/300" alt="Placeholder image">
                        {% endif %}
                    </figure>
                </div>
                <div class="card-content">
                     <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://loremflickr.com/96/96" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4 has-text-link">
                                {{ sortie.nom|capitalize }}
                            </p>
                            <p class="subtitle is-6 has-text-danger">
                                nombre de place réservées: {{ sortie.participantsInscrits | length }} <strong>/</strong> {{ sortie.nbInscriptionsMax }}
                            </p>
                        </div>
                    </div>
                    <div class="content">
                        <br>
                        <p class="has-background-info-light">
                        DU
                        <time class="has-text-primary">{{ sortie.dateDebut | format_datetime('full', 'short',locale='fr') }}</time>
                            <br>
                            AU
                        <time class="has-text-danger">{{ sortie.dateCloture | format_datetime('full', 'short',locale='fr') }}</time>
                        </p>
                        <a href="{{ path('sortie_details', {'id': sortie.id}) }}" class="button">En Savoir +</a>
                    </div>
                </div>
           {% if placeDispos <= 0 %}
            </div>
           {% else %}
           </div>
           {% endif %}
            {% if loop.index % 3 == 0 %}
            </section><section class="columns">
            {% endif %}
            {% if loop.last %}
            </section>
            {% endif %}
            {% endfor %}
    </div>
{% endblock %}
