{% block body %}
    <section class="box">
    <h2 class="title is-6">Liste des villes</h2>

    <table class="table is-hoverable">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Nom</th>
                <th>Code postal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.id }}</td>
                <td>{{ ville.nom }}</td>
                <td>{{ ville.codePostal }}</td>
                <td>
                    <a class="button is-light is-small is-primary" href="{{ path('app_ville_show', {'id': ville.id}) }}">Détails</a>
                    <a class="button is-light is-small is-warning" href="{{ path('app_ville_edit', {'id': ville.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Il n'y a pas de villes.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button is-light is-success" href="{{ path('app_ville_new') }}">Ajouter une nouvelle ville</a>
    </section>
{% endblock %}
