<nav>
    <a href="{{ path('home_index') }}">Accueil</a>
    {% if app.user %}
        <a href="{{ path('sortie_dashboard') }}">Sorties</a>
        <a href="{{ path('app_logout') }}">Se déconnecter</a>
    {% else %}
        <a href="{{ path('app_login') }}">Sorties</a>
        <a href="{{ path('app_login') }}">Se connecter</a>
    {% endif %}
    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('app_register') }}">[admin] Inscrire un participant</a>
    {% endif %}
</nav>